<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="../../../assets/common/ionic/css/ionic.min.css">
<link rel="stylesheet" href="../../../assets/css/tobe/renew_style.css">
<link rel="stylesheet" href="../../../../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
<link rel="stylesheet" href="../../../assets/css/common.css">
<link rel="stylesheet" href="../../../assets/css/style1.css">
<link rel="stylesheet" href="../../../assets/css/style.css">

  <div class="bar bar-header" style="z-index:10;">
      <div class="prefix">
          <button type="button" disabled>
              <span class="icon---arrow-back">뒤로가기</span>
          </button>
      </div>
      <span class="header--title">상담신청</span>
      <div class="suffix"></div>
  </div>

  <div class="micro---notice align-c">
      <p class="mgn-t-48 fs-40 tc---emperor txt---break-none"><strong class="tc---orange">“</strong><strong>친절한 상담원이 쉽고 빠르게<br>전화상담을 진행합니다.</strong><strong class="tc---orange">”</strong></p>
  </div>

  <div class="box---space mgn-t-74">
      <div class="has-input-message">
          <div class="textfield">
              <label>
                  <span class="textfield--placeholder">성명</span>
                  <input type="text" name="" value="">
              </label>
          </div>
      </div>
  </div>
  <div class="box---space mgn-t-50">
      <p class="typo--title mgn-b-0">휴대폰번호 확인</p>
      <div class="has-input-message">
          <div class="formula formula---place-none">
              <div class="textfield formula--article textfield---fill">
                  <label>
                      <input type="tel" id="custPhone1" pattern="[0-9]*" limit-length="3" name="" value="" class="align-c">
                  </label>
              </div>
              <div class="formula---addon">
                  <p class="formula--static--field">-</p>
              </div>
              <div class="textfield formula--article">
                  <label>
                      <input type="tel" id="custPhone2" pattern="[0-9]*" limit-length="4" name="" value="" class="align-c">
                  </label>
              </div>
              <div class="formula---addon">
                  <p class="formula--static--field">-</p>
              </div>
              <div class="textfield formula--article">
                  <label>
                      <input type="tel" id="custPhone3" pattern="[0-9]*" limit-length="4" name="" value="" class="align-c">
                  </label>
              </div>
          </div>
      </div>
  </div>
  <hr class="line---gray mgn-t-40">
  <div class="box---space box---gray">
      <div class="list accordion">
          <div class="accordion--item">
              <div class="accordion--head accordion---active pad-y-30">
                  <label class="checkbox checkbox---all fullscreen">
                      <input type="checkbox" name="all" value="">
                      <span class="no-mgn"><strong>약관동의</strong></span>
                  </label>
                  <button type="button" class="suffix pad-l-30 accordion--toggle">
                      <span class="accordion--toggle--deactivated">
                          <img src="assets/images/icon/icon-policy-checkall-accodian-off.png" alt="">
                      </span>
                      <span class="accordion--toggle--activated">
                          <img src="assets/images/icon/icon-policy-checkall-accodian-on.png" alt="">
                      </span>
                  </button>
              </div>
              <div class="list--content accordion--content">
                  <ul class="mgn-b-50">
                      <li>
                          <label class="checkbox fullscreen pad-r-64">
                              <input type="checkbox" name="list" value="">
                              <span>개인정보 수집·이용동의</span>
                          </label>
                          <button type="button" class="suffix" alt="[필수] 개인(신용)정보 수집+이용동의 상세보기">
                              <img src="assets/images/icon/icon-policy-left.png" alt="" style="height:1.75rem">
                          </button>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="bar bar-footer">
      <button type="button" class="btn btn---fullscreen">
          대출 상담신청
      </button>
  </div>